.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.section {
    position: relative;
    padding-top: 50px;
}

#inicio {
    background: url("/images/fondo.jpg") fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


#quehace{
    margin-top: 0px;
}

#portfo {
    margin-bottom: 30px;
}
#redes {
    margin-left: 5px;
}

#botdown {
    cursor: pointer;
    position: absolute;
    margin: auto;
    bottom: 20px;
    left: 0;
    right: 0;
    height: 30px;
    width: 30px;
}



#marca {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 220px;
    width: auto;
}

img.bot {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
img.bot:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.bots {
    margin-bottom: 0px;
    margin-top: 30px;
}

#im {
            margin-right: 25px;
            margin-left: 25px;
            max-width: ;
        }

.tits {
    margin-bottom: 0px;
    margin-top: 0px;
}

#contenedor1{
  background: url("/images/busi.png") fixed; 
  max-height: 100%;
  height: 200px; 
  position: relative;
  margin: 0 auto;
  background-size: cover; 
}
#contenedor1 h2{
  text-align: center;
  margin-top: 0px;
  color: white!important; 
}


#link{
    background-color: gray;
    float: inherit;
    position: relative;
}
#linkk{
    color: aliceblue;
}

#cont {
    padding-left: 30px;
}

#contacto {
    background-image: url(/images/contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 10px 0px;
  margin-bottom: 20px;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
    
    }

@media (max-width: 700px) {
        #im {
            padding: 0 0;
            max-width: ;
            margin-right: 0px;
            margin-left: 0px;
        }
    
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
